@font-face{
    font-family: BDZYJT--GB1-0;
    src: url("bdzyjt.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: FZLTXHK;
    src: url("FZLTXHK.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: PingFangSC-Medium;
    src: url("PingFang_Medium.ttf");
    font-weight: normal;
    font-style: normal;
}