<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.FinanceStockDetailMapper">
    <select id="getStockDetailByProductIds" resultType="com.july.company.entity.FinanceStockDetail" >
        select *
        from fc_finance_stock_detail ffsd
        where ffsd.deleted = 0
        and find_in_set(ffsd.productId, #{stockStr})
    </select>

</mapper>
