<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.FinanceProductMapper">

    <select id="getFinanceProduct" resultType="com.july.company.vo.finance.FinanceProductVo">
        select ffp.title,ffp.mechanism,ffpd.industryDirect,ffpd.financeQuota,ffpd.financeState from fc_finance_product ffp,fc_finance_product_detail ffpd
        where
        ffp.id = ffpd.companyId
        and ffp.deleted = 0
        <if test="param.financeQuota != null">
            and ffpd.financeQuota = #{param.financeQuota}
        </if>
        <if test="param.financeState != null">
            and ffpd.financeState = #{param.financeState}
        </if>
        <if test="param.industryDirect != null">
            and ffpd.industryDirect = #{param.industryDirect}
        </if>
        <if test="param.registerAddress != null">
            and ffpd.registerAddress = #{param.registerAddress}
        </if>
        <if test="param.business != null">
            and ffpd.business = #{param.business}
        </if>
        <if test="param.staffCount != null">
            and ffpd.staffCount = #{param.staffCount}
        </if>
        <if test="param.marketOccupyRate != null">
            and ffpd.marketOccupyRate = #{param.marketOccupyRate}
        </if>
        <if test="param.evaluateName != null">
            and ffpd.evaluateName = #{param.evaluateName}
        </if>
        <if test="param.mechanismOrProduct != null and param.mechanismOrProduct != ''">
            and (
            ffp.mechanism like concat('%',#{param.mechanismOrProduct},'%')
            or
            ffp.title like concat('%',#{param.mechanismOrProduct},'%')
            )
        </if>
    </select>

</mapper>
