<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.FinanceBondMatchMapper">
    <select id="getNewestMathInfo" resultType="com.july.company.entity.FinanceBondMatch">
        select * from fc_finance_bond_match ffsm where ffsm.companyId = #{companyId} order by ffsm.createdTime desc limit 1
    </select>
</mapper>
