<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.FinanceApplyMapper">

    <select id="getFinanceApply" resultType="com.july.company.vo.apply.SelectProductVo">
        select ffa.id as applyId,fc.companyName,ffp.title as productName,ffp.financeType,ffp.mechanism,ffa.createdTime,ffa.status
        from fc_finance_apply ffa,fc_company fc,fc_finance_product ffp
        where
        ffa.companyId = fc.id
        and ffa.productId = ffp.id
        <if test="param.companyOrProductName != null and param.companyOrProductName != ''">
            and (
                fc.companyName like concat('%',#{param.companyOrProductName},'%')
                or
                ffp.title like concat('%',#{param.companyOrProductName},'%')
            )
        </if>
        order by ffa.status asc
    </select>

    <select id="getApplyInfo" resultType="com.july.company.vo.apply.ProductDetalVo">
        select ffa.id as applyId,fc.companyName,ffp.title as productName,ffp.financeType,ffp.mechanism,ffa.createdTime,ffa.status,ffa.remark from fc_finance_apply ffa,fc_company fc,fc_finance_product ffp
        where
        ffa.companyId = fc.id
        and ffa.productId = ffp.id
        and ffa.id = #{applyId}
    </select>

</mapper>
