<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.InstitutionMapper">

    <select id="getInstitutionAndRegion" resultType="com.july.company.vo.institution.InstitutionAndRegionVo">
        select fi.id,fi.institutionName,fi.institutionCode,fi.institutionType,fsc.code as regionCode,fsc.value as regionName from fc_institution fi,fc_sys_code fsc
        where
        fi.regionId = fsc.code
    </select>

    <select id="getInstitution" resultType="com.july.company.vo.institution.ListInstitutionVo">
        select fi.institutionName,fi.institutionCode,fi.institutionType,fi.regionId as regionName from fc_institution fi
        where
        1=1
        <if test="param.institutionType != null">
            and fi.institutionType = #{param.institutionType}
        </if>
        <if test="param.regionId != null and param.regionId != ''">
            and fi.regionId = #{param.regionId}
        </if>
        <if test="param.institutionName != null and param.institutionName != ''">
            and fi.institutionName like concat('%',#{param.institutionName},'%')
        </if>
    </select>

</mapper>
