<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.company.mapper.SysCodeMapper">

    <select id="getSysCode" resultType="com.july.company.vo.code.SysCodeValueVo">
        select fsc.code,fsc.codeType,fsc.value from fc_sys_code fsc
        where
        1=1
        <if test="codeType != null and codeType != ''">
            and fsc.codeType = #{codeType}
        </if>
    </select>

</mapper>
